@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply h-full;
}
div#__next {
	@apply h-full;
}
main {
	@apply h-full;
}

@import "./typography.css";

@layer base {
	body {
		font-family: "NotoSans-Regular";
	}

	h1,
	h2 {
		font-family: "NotoSans-Bold";
	}

	h3,
	h4 {
		font-family: "NotoSans-Regular";
	}
}
